.nothing__text {
    max-width: 356px;
    margin: 0 auto;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #b6bcbf;
    max-width: 320px;
}