@import url('./__blue/button__blue.css');
@import url('./__more/button__more.css');

.button {
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /*background: #fff;
    color: #1a1b22;*/
    border: none;
    padding: 20px 54px;
    border-radius: 80px;
    cursor: pointer;

  
}

