.button__blue {
    position: absolute;
    right: 0;
    border-radius: 100px;
    background: #2f71e5;
    color: #fff;
    box-shadow: 0 5px 15px rgba(14,26,57,.2);
}
@media screen and (max-width: 500px){
    .button__blue {
        position: relative;
        margin-top: 16px;
        width: 100%;
    }
    }