@import url('./__data/request__data.css');
@import url('./__data_all/request__data_all.css');
@import url('./__data_week/request__data_week.css');
@import url('./__title/request__title.css');
.request {
    max-width: 1440px;
    margin: 0 auto;
   /* padding: 0 104px;*/
    margin-bottom: 80px;
}

@media screen and (max-width: 900px) {
    .request {
       /* padding: 0 40px;*/
        margin-bottom: 40px;
      
    }
    }

@media screen and (max-width: 500px) {
.request {
   /* padding: 0 16px;*/
    margin-bottom: 24px;
}
}