.search__block {
    
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
       /*color: #fff;*/
       
        
    
        max-width: 1440px;
        margin: 0 auto;
       /* padding: 0 104px;*/
    
}

