.search__title {
    margin: 0;
    padding: 0;
    font-family: RobotoSlab,Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    color: #ffffff;
    max-width: 400px;
}

@media screen and (max-width: 991px) {
.search__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
}
}