.search__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 104px;

}

@media screen and (max-width: 900px) {
    .search__container{
        padding: 0 40px;;
        }
}
@media screen and (max-width: 500px) {
    .search__container{
    padding: 0 16px;;
    }
}