.results__title {
    font-family: RobotoSlab,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    font-style: normal;
    color: #1a1b22;
    margin: 12px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

@media screen and (max-width: 991px) {
.results__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
}
}