@import url('./__container/navigator__container.css');
@import url('./__item/navigator__item.css');
@import url('./__link/navigator__link.css');
@import url('./__link_main/navigator__link_main.css');
@import url('./__title/navigator__title.css');
.navigator {
    max-width: 1440px;
    margin: 0 auto;
    /*padding: 0 104px;*/
}

@media screen and (max-width: 900px) {
    .navigator {
        
        margin: 0;
    }
    }


@media screen and (max-width: 500px) {
.navigator {
   display: none;
}
}