@import url('./__active/link__active.css');
@import url('./__black/link__black.css');
@import url('./__black_active/link__black_active.css');
.link {
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #b6bcbf;
    text-decoration: none;
}

.link__hover:hover {
    color: black;
}

@media screen and (max-width: 500px) {
.link {
    font-size: 16px;
    line-height: 24px;
}
}