.nothing__title{
    margin-top: 24px;
    margin-bottom: 16px;
    font-family: RobotoSlab,Arial,Helvetica,sans-serif;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #1a1b22;
    text-align: center;
    font-style: normal;
}