.results__text {
    box-sizing: border-box;
    max-height: 304px;
    padding: 20px 24px 24px;
   
}
@media screen and (max-width: 991px) {
.results__text {
    max-height: 270px;
    padding: 16px;
}
}