/*.navigator__item::before {
    content: "/";
    margin: 0px 0px 0px 5px;

}

.navigator__item:first-of-type::before {
    content: "";
    margin: 0px;
  }*/

  .navigator__item {
      display: inline;
  }