.techno__title {
    display: inline;
    font-family: RobotoSlab,Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #1a1b22;
    margin: 0;
    max-width: 344px;
    margin-right: 10%;
}

@media screen and (max-width: 991px) {
.techno__title {
    max-width: 338px;
    font-size: 30px;
    line-height: 34px;
}
}

@media screen and (max-width: 500px) {
.techno__title {
    max-width: 200px;
}
}