.stats__header {
   
    display: grid;
    grid-template-columns: 104px 1fr;
    grid-column-gap: 0px;
    
}

@media screen and (max-width: 500px) {
    .stats__header {
        grid-template-columns: 64px 1fr;
    }
}