.results__container {
    display: grid;
    grid-template-columns: repeat(3,minmax(224px,400px));
    grid-gap: 16px;
    justify-content: center;
    margin: 64px 0;
}

@media screen and (max-width: 700px) {
    .results__container {
    grid-template-columns: repeat(2,minmax(224px,1fr));
    }
    }

@media screen and (max-width: 600px) {
    .results__container {
    grid-template-columns: repeat(1,minmax(224px,1fr));
    }
    }

@media screen and (max-width: 500px) {
.results__container {
    margin: 36px 0 13px;
    grid-gap: 8px;

    grid-template-columns: repeat(1,minmax(224px,1fr));
}
}