@import url('./__image/nothing__image.css');
@import url('./__text/nothing__text.css');
@import url('./__title/nothing__title.css');
.nothing {
    color: #F5F6F7;
    display: block;
    margin-bottom: 80px;
    margin-top: 80px;
}