@import url('./__container/stats__container.css');
@import url('./__header/stats__header.css');
@import url('./__header_date/stats__header_date.css');
@import url('./__header_sum/stats__header_sum.css');
@import url('./__hystogram/stats__hystogram.css');
@import url('./__item/stats__item.css');
@import url('./__item__graph/stats__item_graph.css');
@import url('./__item_date/stats__item_date.css');
@import url('./__number/stats__naumber.css');
@import url('./__numbers/stats__numbers.css');
@import url('./__title/stats__title.css');
@import url('./__header_sum/stats__header_sum.css');
@import url('./__line/stats__line.css');

.stats {
    max-width: 1440px;
    margin: 0 auto;
    /*padding: 0 104px;*/
    background-color: #f5f6f7;

   
}

